{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "scanner/styles.css" %}">
</head>
<body>
    <nav>
        <h2> APK Scaneer </h2>

        <hr>

    </nav>
        {% block content %}

        {% endblock %}

        <footer>
            Build with Django
        </fotter>
    
</body>
</html>